
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem - vindo ao EducaMap</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium placeat aperiam dolore illo vel sequi obcaecati, possimus eos eius magnam qui totam, nihil veniam iste ipsa, corrupti deleniti consequuntur molestias!</p>
</div>

<h3>Problematização</h3>

<p>
Diversos jovens que desejam iniciar seus estudos em áreas de interesse se mostram entusiasmados para aprender, mas enfrentam um obstáculo comum: a dificuldade em saber por onde começar. Ao buscar um tema de estudo, o estudante se depara com uma variedade de subtemas, com níveis de complexidade distintos, sem uma organização lógica, o que acaba gerando desânimo. A dispersão de informações sem uma estrutura clara pode causar confusão e frustração, resultando em ansiedade e, em muitos casos, até mesmo na desistência dos estudos.
</p>
    

<h3>Solução</h3>
<p>
Para resolver essa problemática, a equipe propõe o desenvolvimento de uma plataforma, composta por um site e um aplicativo, que oferecerá aos estudantes mapas de estudo organizados por diversos temas. Esses mapas serão criados pela própria comunidade, proporcionando aos usuários uma estrutura inicial que facilite o aprendizado. O objetivo é guiar os estudantes que estão iniciando seus estudos e, ao mesmo tempo, oferecer uma organização para aqueles mais avançados, com trilhas de estudo progressivas.

O sistema contará com uma área de busca, onde o usuário poderá pesquisar por assuntos de seu interesse e visualizar mapas de estudo criados pela comunidade, que poderão incluir materiais de apoio adicionais. Ao concluir cada etapa do mapa, o estudante será recompensado com pontos de experiência (XP), que permitirão sua evolução dentro da plataforma.

Além disso, os mapas de estudo poderão receber avaliações por meio de um sistema de curtidas, onde os mais populares e bem avaliados ocuparão as primeiras posições nas listas de resultados, incentivando a colaboração e o compartilhamento de conteúdos de qualidade.
</p>

<h3>Público-alvo</h3>

<p>
O público-alvo consiste em pessoas de todas as idades que têm o interesse de aprender algo novo, mas que se sentem sobrecarregadas pela abundância de informações disponíveis online, sem uma organização clara.
</p>
    