<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Integrantes</h1>
    <ul>
        <li>João Pedro</li>
        <li>Ryan Raniery</li>
        <li>Henrique Tsuyoshi</li>
        <li>Matheus S</li>
    </ul>
</div>